<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fragment</title>
  <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
  <h2>Fragment</h2>
  <img src="../assets/images/diagnostic.jpg" alt="diagnostic">
  <audio controls>
    <source src="../assets/audio/cues/zt65m.mp3" type="audio/mp3">
    Your browser does not support audio.
  </audio>
  <a href="../index.html" class="home-btn">
    <span class="home-icon">🚀</span> Home
  </a>  
</body>
</html>
