* {
  user-select: none;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background: #333;
  color: white;
  padding: 1em 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 20px;
}

audio {
  margin-top: 10px;
}

button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  background: #008cba;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #005f73;
}

footer {
  background: #333;
  color: white;
  padding: 10px 0;
  position: absolute;
  width: 100%;
  bottom: 0;
}
